.venv
.git
.idea
.env
.DS_Store
__pycache__
*.pyc
data
tests
docs
k8s
.github
prometheus-3.9.1.darwin-arm64
prometheus-3.9.1.darwin-arm64.tar.gz
yolov5s.pt
poetry.lock
pyproject.toml
start.sh
test_result.jpg
*.tar.gz
